{% extends 'base.html.twig' %}

{% block title %}New Plus{% endblock %}

{% block body %}
    <h1>Create new Plus</h1>

    {{ include('plus/_form.html.twig') }}

    <a href="{{ path('app_plus_index') }}">back to list</a>
{% endblock %}
