<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" type="text/css"
          href="http://localhost:8080/externalCss/style.css?v={{ 'now'|date('YmdHis') }}">
    {#    <link rel="stylesheet" type="text/css" href="/style.css?v={{ 'now'|date('YmdHis') }}"> #}
    {% block stylesheets %}
    {% endblock %}
    {% block javascripts %}
    {% endblock %}
</head>
<body>
{% set curPath = app.current_route %}

{% set rawDiv1 = '<div class="content1">' %}
{% set rawDiv2 = '</div>' %}

<div class="container">
    <div class="menu">
        {% include('menu.html.twig') %}
    </div>
    {% if curPath|slice(0,4) == 'app_' %}   {# ekrany CRUD w content1 obok menu #}
        {{ rawDiv1|raw }}
    {% endif %}
    {% block body %}{% endblock %}
    {% if curPath|slice(0,4) == 'app_' %}   {# pozostałe ekrany zawierają divy z klasami #}
        {{ rawDiv2|raw }}
    {% endif %}
</div>
</body>
</html>
