<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="http://localhost:8088/main.css?v={{ 'now'|date('YmdHis') }}">
    {% block javascripts %}
    {% endblock %}
</head>
<body>
{% set curPath = app.request.get('_route') %}
{% set rawDiv1 = '<div class="content1">' %}
{% set rawDiv2 = '</div>' %}
<div class="container">
    <div class="menu">
        {{ include('menu.html.twig') }}
    </div>
    {% if curPath|slice(0,4) == 'app_' %}
        {{ rawDiv1|raw }}
    {% endif %}
    {% block body %}{% endblock %}
    {% if curPath|slice(0,4) == 'app_' %}
        {{ rawDiv2|raw }}
    {% endif %}
</div>
</body>
</html>